
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form [formGroup]="loginForm" class="form-signin">



                                
                <main>
                    <form class="form-signin">
                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

                    <!-- mail -->
                    <label for="inputEmail" class="sr-only">Adresse email</label>

                    <input type="email" id="inputEmail" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
                    <div *ngIf="login.errors && login.touched">
                        <div class="badge badge-danger" *ngIf="login.errors.required">
                            This is required.
                        </div>
            
                        <div class="error-placeholder"
                            *ngIf="login.errors.minlength">
                            The user login must have at least 5 caracters.
                        </div>
                    </div>

                    <!-- password -->
                    <label for="inputPassword" class="sr-only">Mot de passe</label>                
            
                    <input  formControlName="password" type="password" required  placeholder="Password"  class="form-control  mb-3" >
                    <div *ngIf="password.errors && password.touched">
                        <span class="error-placeholder" *ngIf="password.errors.required">
                            This is required.
                        </span>
                
                        <span class="error-placeholder"
                            *ngIf="password.errors.minlength">
                            The password must have at least 5 caracters.
                        </span>
                    </div>

                    <!-- bouton -->
                    <div class="checkbox mb-3">
                        <label>
                        <input type="checkbox" value="remember-me"> Se souvenir de moi
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="go()" [disabled]="isNotFormValid()">Se connecter</button>
                    </form>
                </main>
                              
          
                  
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>




