<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['accueil']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button  type="button" class="btn btn-outline-light add-cursor"
          [routerLink]="['public']">Paniers de la semaine</button>
      </li>

    </ul>
    <div class="">
      <i class="fas fa-shopping-basket fa-2x" style="color: white"></i><div class="badge badge-pill badge-danger notification">{{ quantity | async }}</div>
      </div>
      <span>
        <button *ngIf='!currentUser()' type="button" class="btn btn-outline-light add-cursor"
          [routerLink]="['login']">Connexion</button>
        <button *ngIf='currentUser()' type="button" class="btn btn-outline-light add-cursor"
          (click)='deleteCurrentUser()'>Deconnexion</button>
          
      </span>
      
  </div>
</nav>