@media (min-width: 300px){
.basketLabel{
    font-size: 180%;
}
}

@media (min-width: 1200px){
    .basketLabel{
        font-size: 150%;
    }
    }

@media (min-width: 300px){
        .productLabel{
            font-size: 230%;
        }
        }
        
@media (min-width: 1200px){
            .productLabel{
                font-size: 160%;
            }
            }